*/config/development
*/logs/log-*.php
*/logs/!index.html
*/cache/*
*/cache/!index.html
/sklay/.settings
/sklay/sklay-core/target
/sklay/sklay-core/.settings
/sklay/sklay-core/*.classpath
/sklay/sklay-core/*.project
/sklay/sklay-sms/.settings
/sklay/sklay-sms/target
/sklay/sklay-sms/*.classpath
/sklay/sklay-sms/*.project
/sklay/sklay-web/.settings
/sklay/sklay-web/target
/sklay/sklay-web/*.classpath
/sklay/sklay-web/*.project
/sklay/sklay-widgets/.settings
/sklay/sklay-widgets/target
/sklay/sklay-widgets/*.classpath
/sklay/sklay-widgets/*.project
/sklay/*.project
